

.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
    /* column-gap: 2em; */
    /* row-gap: 2em; */
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color:hsl(0, 100%, 50%) ;
    /* align-self: start; */
    /* align-self: center; */
    /* align-self: end; */
    /* order: 1; */
}

#box2{
    background-color:hsl(120, 100%, 50%) ;
}

#box3{
    background-color:hsl(244, 100%, 50%) ;
}

#box4{
    background-color:hsl(305, 100%, 50%) ;
}