
*{
    box-sizing: border-box;
}

.container{
    background-color: hsl(0, 0%, 50%);
    height: 100vh;
    /* padding-top: 15px; */
}

.box{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid;
    position: relative;
    top: 25px;
    /* margin-top: 15px; */
    margin: auto;
    margin-top: 45px;
    padding: 25px;
    height: auto;
    /* width: 200px; */
    /* width: auto; */
    width: 50%;
    /* float: left; */
    text-align: center;
}